.resultfile {
  font-family: PingFangSC-Medium;
  .am-navbar-light {
    z-index: 10;
    background: #d1c7a9;
    // padding-top: 0.05rem;
    padding-bottom: 0.04rem;
    // padding-top: calc(0.1rem + constant(safe-area-inset-top));
    // padding-top: calc(0.1rem + env(safe-area-inset-top));
    span {
      font-size: 0.046;
      line-height: 0.04;
      color: #fff;
      letter-spacing: 0;
    }
  }
  .am-steps {
    z-index: 10;
    background: #d1c7a9;
    padding-top: 0.03rem;
    padding-bottom: 0.02rem;
    .icon_step {
      width: 0.06rem;
      height: 0.06rem;
      border-radius: 50%;
      background: #ddd;
      font-size: 0.03rem;
      line-height: 0.06rem;
      color: #fff;
    }
    .current {
      background: #fff;
      color: #d1c7a9;
    }
    .am-steps-item-finish .am-steps-item-tail:after {
      background: #fff;
    }
  }
  // 得分
  .huxian {
    background: #d1c7a9;
    border-radius: 0 2rem;
    position: relative;
    width: 2rem;
    height: 2rem;
    -webkit-transform: translatey(-1.15rem) translatex(-0.5rem) rotate(-45deg);
    -ms-transform: translatey(-1.15rem) translatex(-0.5rem) rotate(-45deg);
    -o-transform: translatey(-1.15rem) translatex(-0.5rem) rotate(-45deg);
    transform: translatey(-1.15rem) translatex(-0.5rem) rotate(-45deg);
    .scoreandtitle {
      -webkit-transform: rotate(45deg) translatex(0.6rem) translatey(0.9rem);
      -ms-transform: rotate(45deg) translatex(0.6rem) translatey(0.9rem);
      -o-transform: rotate(45deg) translatex(0.6rem) translatey(0.9rem);
      transform: rotate(45deg) translatex(0.6rem) translatey(0.9rem);
      text-align: center;
      .title {
        font-family: PingFangSC-Semibold;
        font-size: 0.072rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.064rem;
        letter-spacing: 0rem;
        color: #fefefe;
      }
      .time {
        font-family: PingFangSC-Medium;
        font-size: 0.032rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.064rem;
        letter-spacing: 0rem;
        color: #ffffff;
        margin-top: 0.01rem;
      }
      .title_ {
        color: #fff;
        height: 0.14rem;
        position: relative;
        top: 0.1rem;
        .score {
          font-family: Arial-BlackItalic;
          font-size: 0.187rem;
          font-weight: 900;
          font-stretch: normal;
          line-height: 0.04rem;
          letter-spacing: 0rem;
          font-style: italic;
          padding-right: 0.01rem;
        }
      }
    }
  }

  // container
  .container {
    margin-top: 0.04rem;
    margin-bottom: 0.15rem;
    .correctanderror {
      overflow: hidden;
      width: 0.4rem;
      font-family: Arial-BoldMT;
      font-size: 0.037rem;
      font-weight: normal;
      font-stretch: normal;
      line-height: 0.064rem;
      letter-spacing: 0rem;
      color: #505050;
      margin: 0 auto;
      div {
        float: left;
        width: 0.18rem;
        text-align: center;
        .correct {
          color: #57d37f;
        }
        .error {
          color: #de3228;
        }
        span {
          padding-left: 0.02rem;
        }
      }
      div:nth-child(2) {
        width: 0.04rem;
        color: #d1c7a9;
        font-size: 0.01rem;
      }
    }
    .correctRate {
      margin: 0 auto;
      width: 0.85rem;
      margin-top: 0.14rem;
      font-family: PingFangSC-Medium;
      font-size: 0.04rem;
      font-weight: normal;
      font-stretch: normal;
      line-height: 0.064rem;
      letter-spacing: 0rem;
      color: #333333;
      span:first-child {
        padding-right: 0.03rem;
      }
    }
    .ratewithfield {
      margin-top: 0.08rem;
      .fielditem {
        height: 0.067rem;
        margin: 0 auto;
        float: left;
        text-align: center;
        box-sizing: border-box;
        .rate {
          height: 0.05rem;
          i {
            font-family: Arial-BlackItalic;
            font-size: 0.069rem;
            font-weight: 900;
            font-stretch: normal;
            line-height: 0.04rem;
            letter-spacing: 0rem;
            color: #34373b;
            padding-right: 0.01rem;
          }
          span {
            font-family: Arial-BlackItalic;
            font-size: 0.029rem;
            font-weight: normal;
            font-stretch: normal;
            line-height: 0.04rem;
            letter-spacing: 0rem;
            color: #333333;
          }
        }
        .fieldname {
          height: 0.05rem;
          font-family: PingFangSC-Medium;
          font-size: 0.032rem;
          font-weight: normal;
          font-stretch: normal;
          line-height: 0.064rem;
          letter-spacing: 0rem;
          color: #999999;
        }
      }
    }
    .ratewithfield:after {
      content: "";
      display: table;
      clear: both;
    }
    // 考试介绍
    .introduction {
      width: 0.814rem;
      margin: 0 auto;
      margin-top: 0.3rem;
      font-family: PingFangSC-Regular;
      font-size: 0.035rem;
      font-weight: normal;
      font-stretch: normal;
      line-height: 0.048rem;
      letter-spacing: 0rem;
      color: #cccccc;
    }
  }
  // 下面的button
  .bottomButton {
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: all 0.3s;
    z-index: 10;
    // padding-bottom: calc(0.01rem + constant(safe-area-inset-bottom));
    // padding-bottom: calc(0.01rem + env(safe-area-inset-bottom));
    font-size: 0.045rem;
    font-weight: normal;
    font-stretch: normal;
    .am-button {
      border-radius: 0;
    }
  }
  .nofull {
    .am-button {
      width: 0.932rem;
      margin: 0 auto;
    }
  }
  .disabled {
    bottom: -0.23rem;
    transition: all 0.4s;
  }
}
